* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather";
  padding: 0;
  margin: 0;
  background: #f6f3f3;
}

button,
input,
input::placeholder {
  font-family: "Merriweather";
}

ul {
  margin: 0;
}
